FT2Plugin.dll
Pharo.exe
Pharo.ini
PharoConsole.exe
Pharo6.1.changes
SurfacePlugin.dll
PharoDebug.log
PharoV60.sources
README.txt
SDL2.dll
SqueakSSL.dll
iconv.dll
libcairo-2.dll
libeay32.dll
libfreetype.dll
libgcc_s_sjlj-1.dll
libgit2.dll
libpixman-1-0.dll
libpng16-16.dll
libssh2-1.dll
libwinpthread-1.dll
pharo-local/
ssleay32.dll
stderr
stdout
zlib1.dll
